{{!-- <div id="dostuff">
    <div id="flex-container">
        <img src=""/>
        <form method="POST" action="/users/login" id="login" name="login">
            <div id="loginbox">
                <div class="row">
                    <div class="column">User Name</div>
                    <input type="text" id="Username" name="Username" placeholder="User Name" />
                </div>
                <div class="row">
                    <div class="column">Password</div>
                    <input type="Password" id="Passsword" name="Password" placeholder="Password" />
                </div>
                <div>
                 <button type="submit">Submit</button>   
                </div>
            </div>
            
        </form>
        
        <form method="GET" action="/users/signup" id="signup" name="signup"><button type="submit">Sign Up!</button></form>
    </div>
</div> --}}